.home {
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    box-shadow: 2px 2px 5px WHITE;
    border-radius: 10px;
}

.home:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);

}