.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-direction: row;
    padding-top: 0.5em;
    justify-content: center;
    margin-top: 0.2rem;
    color: white
    /* border: 1px white solid; */
}