.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 10px;
}

.flexbox-item-home {
    
    /* background-color: purple; */
}

.flexbox-item-title {

}

.flexbox-item-status {
    background-color: #D1E7FE;
    border-radius: 10px;
    padding-inline: 1rem;
}
