
.flexbox-item-keyvaluepair {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: row;
    border-radius: 10px;
    width: 85%;
    gap: 1rem;
    padding-inline: 0.5rem;
    justify-content: flex-start;
    padding-block: 0.3rem;
    /* display: none */
  }

  .data {
    font-weight: bold;
  }