  /* page master */
  
  .page-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* Flex box for welcome  */

.flexbox-container-w{
  border: 1px solid red;
    display: flex;
    background-color: #D1E7FE;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    width: 90%;
    gap: 20px;
  }

.flexbox-item-w {
  border: 1px solid red;
  }

  /* Flex box for links */

  .flexbox-container-links{
    border: 1px solid red;
    
  }

  .flexbox-item-links {
    border: 1px solid red;
  }