/* ENTIRE PAGE */
  
.page-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
  }


  /* WELCOME BOX  */

.flexbox-container-w{
    display: flex;
    background-color: #D1E7FE;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    width: 84%;
    gap: 20px;
    padding: 1rem;
  }

.flexbox-item-image {
    display:flex;
    justify-content: center;
}

.SU-pic {
    border-radius: 40%;
} 



  /* REUSABLE CONTAINER STRUCTURE ________________________________________*/
  /* flexbox container info > flexbox item title + button >
  ...hideable container > SUdata value pairs */
  .toggle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
    background-color: #D1E7FE;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
  
}
.toggle-title {
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.toggle-title:hover {
  background-color: yellow;
  cursor: pointer;
  }

.toggle-information-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}


  /* EDIT BUTTON ________________________________________*/
  .edit-button {
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      border-radius: 10px;
      background-color: white;
      align-items: center;
      gap: 1rem;
      padding-block: 1rem;
    
  }   

  .edit-button {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    padding-block: 1rem;
}   
.edit-button:hover {
  background-color: yellow;
  cursor: pointer;

}     

.flexbox-item-back-bttn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  width: 30%;
}


.item-back-bttn {
  height: 1rem;
}

.item-back-bttn-text {
  
}