.flexbox-container-w{
    /* border: 1px solid red; */
      display: flex;
      background-color: #D1E7FE;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      align-items: center;
      width: 84%;
      gap: 20px;
      padding: 1rem;
      text-align: center;
    }

    .flexbox-item {
        font-weight: bold;
        font-size: 18px;
        background-color: white;
        width: 60%;
        border-radius: 12px;
        height: 2.5rem;
        padding-top: 1rem;
    }
    
    .flexbox-item:hover {
        font-weight: bold;
        font-size: 18px;
        background-color: yellow;
        cursor: pointer;
    }
    