.referrallinks-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.referrallinks-grid-card{

}

.referrallinks-grid-card {
    font-weight: bold;
    background-color: #d5d8ef;
    border-radius: 12px;
    padding-block: 1rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    transition: 1s;
    }
    
.referrallinks-grid-card:hover {
    background-color: #7d87d7;
    transition: 1s
    }
.referrallinks-section-example{
    color: black;
}

.referrallinks-section-example{
    color:red;
}
.referrallinks-section-heading{

}